/target/
.classpath
.project
.settings/
/bin/
${webappDirectory}
${webappDirectory}/icon.png
${webappDirectory}/js/main.js
${webappDirectory}/META-INF/MANIFEST.MF
${webappDirectory}/views/view.xhtml
${webappDirectory}/WEB-INF/classes/Language_en_US.properties
${webappDirectory}/WEB-INF/classes/log4j.properties
${webappDirectory}/WEB-INF/classes/portlet.properties
${webappDirectory}/WEB-INF/classes/uzuzjmd/competence/liferay/reflexion/GridViewController.class
${webappDirectory}/WEB-INF/classes/uzuzjmd/competence/liferay/reflexion/LearningTemplates.class
${webappDirectory}/WEB-INF/classes/uzuzjmd/competence/liferay/reflexion/LearningTemplatesFullSet.class
${webappDirectory}/WEB-INF/classes/uzuzjmd/competence/liferay/reflexion/learningTemplateValidator.class
${webappDirectory}/WEB-INF/classes/uzuzjmd/competence/liferay/reflexion/SelectedLearningTemplateDAO.class
${webappDirectory}/WEB-INF/classes/uzuzjmd/competence/liferay/reflexion/SuggestedCompetenceGridDAO.class
${webappDirectory}/WEB-INF/classes/uzuzjmd/competence/liferay/util/ContextUtil.class
${webappDirectory}/WEB-INF/classes/uzuzjmd/competence/liferay/util/SOAUtil.class
${webappDirectory}/WEB-INF/faces-config.xml
${webappDirectory}/WEB-INF/lib/asm-all-repackaged-2.2.0-b21.jar
${webappDirectory}/WEB-INF/lib/cglib-2.2.0-b21.jar
${webappDirectory}/WEB-INF/lib/commons-collections-3.2.1.jar
${webappDirectory}/WEB-INF/lib/commons-fileupload-1.3.1.jar
${webappDirectory}/WEB-INF/lib/commons-io-2.2.jar
${webappDirectory}/WEB-INF/lib/commons-lang3-3.3.2.jar
${webappDirectory}/WEB-INF/lib/competence-shared-1.0.jar
${webappDirectory}/WEB-INF/lib/grizzly-framework-2.3.8.jar
${webappDirectory}/WEB-INF/lib/grizzly-http-2.3.8.jar
${webappDirectory}/WEB-INF/lib/grizzly-http-server-2.3.8.jar
${webappDirectory}/WEB-INF/lib/grizzly-http-servlet-2.3.8.jar
${webappDirectory}/WEB-INF/lib/guava-18.0.jar
${webappDirectory}/WEB-INF/lib/hk2-api-2.2.0-b21.jar
${webappDirectory}/WEB-INF/lib/hk2-locator-2.2.0-b21.jar
${webappDirectory}/WEB-INF/lib/hk2-utils-2.2.0-b21.jar
${webappDirectory}/WEB-INF/lib/javax.annotation-api-1.2.jar
${webappDirectory}/WEB-INF/lib/javax.inject-2.2.0-b21.jar
${webappDirectory}/WEB-INF/lib/javax.servlet-api-3.0.1.jar
${webappDirectory}/WEB-INF/lib/javax.ws.rs-api-2.0.jar
${webappDirectory}/WEB-INF/lib/jboss-el-2.0.0.GA.jar
${webappDirectory}/WEB-INF/lib/jersey-client-1.18.1.jar
${webappDirectory}/WEB-INF/lib/jersey-client-2.5.1.jar
${webappDirectory}/WEB-INF/lib/jersey-common-2.5.1.jar
${webappDirectory}/WEB-INF/lib/jersey-container-grizzly2-http-2.5.1.jar
${webappDirectory}/WEB-INF/lib/jersey-container-grizzly2-servlet-2.5.1.jar
${webappDirectory}/WEB-INF/lib/jersey-container-servlet-2.5.1.jar
${webappDirectory}/WEB-INF/lib/jersey-container-servlet-core-2.5.1.jar
${webappDirectory}/WEB-INF/lib/jersey-core-1.18.1.jar
${webappDirectory}/WEB-INF/lib/jersey-server-2.5.1.jar
${webappDirectory}/WEB-INF/lib/jsf-api-2.1.21.jar
${webappDirectory}/WEB-INF/lib/jsf-impl-2.1.21.jar
${webappDirectory}/WEB-INF/lib/jstl-1.1.2.jar
${webappDirectory}/WEB-INF/lib/junit-4.4.jar
${webappDirectory}/WEB-INF/lib/liferay-faces-bridge-api-3.2.4-ga5.jar
${webappDirectory}/WEB-INF/lib/liferay-faces-bridge-impl-3.2.4-ga5.jar
${webappDirectory}/WEB-INF/lib/liferay-faces-portal-3.2.4-ga5.jar
${webappDirectory}/WEB-INF/lib/liferay-faces-util-3.2.4-ga5.jar
${webappDirectory}/WEB-INF/lib/log4j-1.2.16.jar
${webappDirectory}/WEB-INF/lib/mysql-connector-java-5.1.6.jar
${webappDirectory}/WEB-INF/lib/osgi-resource-locator-1.0.1.jar
${webappDirectory}/WEB-INF/lib/primefaces-5.2.jar
${webappDirectory}/WEB-INF/lib/util-1.0.jar
${webappDirectory}/WEB-INF/lib/validation-api-1.1.0.Final.jar
${webappDirectory}/WEB-INF/liferay-display.xml
${webappDirectory}/WEB-INF/liferay-hook.xml
${webappDirectory}/WEB-INF/liferay-plugin-package.properties
${webappDirectory}/WEB-INF/liferay-portlet.xml
${webappDirectory}/WEB-INF/portlet.xml
${webappDirectory}/WEB-INF/web.xml
${webappDirectory}/WEB-INF/weblogic.xml
